<div class="page" data-name="perfil">
    
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
       
        <div class="title">Perfil</div>
        <div class="right"></div>
      </div>
    </div>
   
 
<div class="page-content">

    <div class="block">
    <div class="login-screen-title">Perfil</div>

    <div class="row">

        <div class="col">
                 <input type="text" name="username" id="usuariop" placeholder="Your username">
        </div>

    </div>


    <div class="row">

        <div class="col">
            
            <input type="password" name="password" id="passwordp" placeholder="Your password">
        </div>

    </div>

    <div class="row">

        <div class="col">
            
            <input type="text" name="nombre" id="nombrep" placeholder="Tu Nombre">
        </div>

    </div>


    <div class="row">

        <div class="col">
            
            <input type="text" name="apellidos" id="apellidosp" placeholder="Tu Nombre">
        </div>

    </div>

    <div class="row">

        <div class="col">
            
            <input type="text" name="correo" id="correop" placeholder="Tu Nombre">
        </div>

    </div>

    <div class="row">

        <div class="col">
            
            <input type="text" name="telefono" id="telefono" placeholder="Tu Nombre">
        </div>

    </div>

    
    <div class="row" style="margin-top:20px;">

        <div class="col">
            <button class="col button button-fill" onclick="Actualizar()">Actualizar</button>
        </div>

    </div>


    <div class="row">

         <div class="col">
           
            <p> <a href="/home/" class="col button button-outline black">Cancelar</a></p>

         </div>
    </div>

</div>

</div>

</div>